.carrousel{
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrousel .list{
    height: 100%;
    position: relative;
}

.carrousel .list::before{  
    width: var(--w-image);
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    pointer-events: none;
}

.carrouser .list::after{
    position: absolute;
    top: 50px;
    left: 50px;
    content: '';
    background-color: red;
    width: 400px;
    height: 300px;
    z-index: 10;
    pointer-events: none;
    border-radius: 20px 50px 110px 230px ;
    filter: blur(150px);
    opacity: .6;
}

.carrousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carrousel .list .item image{
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}

.carrousel .list .item image img{
    width: 90%;
    margin-bottom: 20px;
    filter: drop-shadow(0 150px 50px #9e0c0c55);
}
.carrousel .list .item .image figcaption{
    font-family: 'Aboreto';
    font-weight: bold;
    font-size: 1.3rem;
    text-align: right;
    margin-bottom: 30px;
    width: 70%;
}
.carrousel .list .item .main-conteent{
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carrousel .list .item .main-content .content{
    padding: 150px 20px 20px 80px;
}

.carrousel .list .item .main-content .content h2{
    font-size: 5rem;
    font-family: 'Aboreto';
}

.carrousel .list .item .main-content .content .price{
    font-family: 'Aboreto';
    font-size: 3rem;
    margin: 20px 0;
}
.carrousel .list .item .main-content .content .addToCard{
    background-color: #4f8b69;
    color: #fff;
    padding: 10px 30px;
}